*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body{
    margin: 0;
    height: 100vh;
    background-image: url(img/f1ff6-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Segoe UI", sans-serif;
}

#contenedor{
    border: 7px solid brown;
    width: 100%;
    margin: 25px auto;
    margin-bottom: 0;
}

#cabecera{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: fixed;
    background-image: url(img/f1ff6-5.jpg);
    background-size: cover;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 1000;
    border-top: 7px solid brown;
    border-left: 7px solid brown;
    border-right: 7px solid brown;
}

#cabecera h1{
    color: rgb(42, 5, 75);
    text-shadow: 2px 12px 12px plum;
    margin-bottom: 25px;
    font-family: "Playwrite DE SAS", cursive;
    font-size: 50px;
    margin-top: 50px;
}

#inicio ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px;
    margin: 0;
}

#inicio ul li{
    margin: 0 15px;
}

#inicio ul li a{
    color: darkred;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;
}

#inicio ul li a:hover{
    background-color:chocolate;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
#inicio .pripa{
    text-decoration: underline;
    text-underline-offset: 10px;
}
#cuerpo{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center;
    margin: 10px; 
    padding: 20px;
} 
.imagen1{
    height: 840px;
    margin-bottom: 10px;
}
.home{
    border-radius: 50%;
    width: 80px;
    position: absolute;
    margin-top: 870px;
    margin-left: 1105px;
}
#cuerpo h6{
    margin-top: 30px;
    margin-left: 1090px;
    font-size: medium;
}
#cuerpo h2{
    margin-top: 25px;
    margin-bottom: 15px;
}
#cuerpo p{
    margin: 20px;
    padding: 10px;
}
#cuerpo .pure1{
    width: 250px;
    height: 265px;
    margin-top: 1130px;
    margin-bottom: 20px;
    position: absolute;
    margin-right: 965px;
}
#cuerpo .parra1{
    width: 1265px;
    margin-left: 95px;
    margin-right: 96px;
}
.parra1{
    text-align: justify;
}
#cuerpo .parra2{
    margin-left: 335px;
}
.parra2{
    width: 950px;
    text-align: justify;
}
#cuerpo .pure2{
    width: 250px;
    height: 200px;
    margin-top: 1405px;
    margin-bottom: 20px;
    position: absolute;
    margin-left: 995px;
}
#cuerpo .parra3{
    margin-left: 15px;
    margin-right: 330px;
}
.parra3{
    width: 950px;
    text-align: justify;
}
#cuerpo .parra4{
    margin-left: 35px;
    margin-right: 37px;
}
.parra4{
    width: 1265px;
    text-align: justify;
}
#preend{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    margin: 10px; 
    padding: 20px; 
}
#preend h3{
    margin-top: -65px;
    margin-bottom: 5px;
    font-size: x-large;
}
#preend p{
    margin: 20px;
    padding: 10px;
}
#preend .parra1{
    width: 1265px;
    margin-left: 95px;
    margin-right: 96px;
}
#preend .parra2{
    margin-left: -292px;
}
#preend .parra3{
    width: 1267px;
    margin-left: 15px;
    margin-right: 10px;
}
#preend .parra5{
    margin-right: 535px;
}
.parra5{
    width: 750px;
    text-align: justify;
}
#preend .miel{
    width: 250px;
    margin-top: 150px;
    margin-bottom: 20px;
    position: absolute;
    margin-left: 995px;
}
#final{
    display: flex; 
    flex-direction: row;
    margin-left: 710px;
    margin-top: 60px;
}
#final img{
    display: flex; 
    flex-direction: row;
    justify-content: space-between; 
    align-items: center; 
    flex-wrap: wrap; 
    margin: 10px;
    margin-bottom: 70px;
    margin-left: 60px;
}
.imagen2{
    width: 40px;
    height: 35px;
    border-radius: 50%;
}
.imagen3{
    width: 40px;
    height: 35px;
    border-radius: 50%;
}